<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Пригородные</title>
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    
<!-- Static navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Касса</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li ><a href="/">Главная</a></li>
          <li ><a href="/about">О нас</a></li>
          <li ><a href="/work">Контакты</a></li>
          <li class="active"><a href="/prigorod">Расписание пригород</a></li>
          <li ><a href="/mezgorod">Расписание дальнего следования</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
    

<section id="works"></section>
	<div class="container">
		<div class="row centered mt mb">
    <h1>Редактирование пригородного маршрута</h1>
     <table   class="table">
        <tr>
              <td >ID</td>
              <td>{{ prigorod.id }}</td>
            </tr>
            <tr>
              <td >Из</td>
              <td>{{ prigorod.p_o }}</td>
            </tr>
            <tr>
              <td >В</td>
              <td>{{ prigorod.p_p }}</td>
            </tr>
            <tr>
              <td >Время отправления</td>
              <td>{{ prigorod.time_o }}</td>
            </tr>
            <tr>
              <td >Время прибытия</td>
              <td>{{ prigorod.time_p }}</td>
            </tr>
            <tr>
              <td >Кол-во мест</td>
              <td>{{ prigorod.count_m }}</td>
            </tr>
            <tr>
              <td >Кол-во оставшихся</td>
              <td>{{ prigorod.count_mo}}</td>
            </tr>
            <tr>
              <td >Цена</td>
              <td>{{ prigorod.price}}</td>
            </tr>
            <tr>
              <td >Имя водителя</td>
              <td>{{ prigorod.name_vod}}</td>
            </tr>
            <tr>
              <td >Гос номер</td>
              <td>{{ prigorod.gos_nomer}}</td>
            </tr>
        </table>
     <a href="/prigorod">Назад</a>

		</div><!--/row -->
	</div><!--/container -->

    <div id="social">
    <div class="container">
        <div class="row centered">
            
            <div class="col-lg-2">
                <a href="https://emdigital.ru/instagram?account=avtovokzal_nsk"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="col-lg-2">
                <a href="https://t.me/avtovokzal_on_line"><i class="fa fa-tumblr"></i></a>
            </div>
        
        </div><!--/row -->
    </div><!--/container -->
</div><!--/social -->

<div id="footerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-4">
                <p><b>КАССА АВТОВОКЗАЛА</b></p>
            </div>
        
            <div class="col-lg-4">
                <p>Мы расположены в Ангарске</p>
            </div>
            <div class="col-lg-4">
                <p>TrEnZaIoR@mail.ru</p>
            </div>
        </div>
    </div>
</div><!--/footerwrap -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the ptime_ps load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
</body>
<html>